extends template
block contenido
    h1 Scanear Red
    form(action="", method="get")     
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        button Inciar
        button Detener
    table.table
        tr.table-dark
            td IP
            td MAC
            td EQUIPO
            td NOTA